@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Colors */

/*
60% of #2E3D91 - Primary
30% of #67A195 - Secondary
10% of #E68A00 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #2E3D91;

/* var(--secondaryColor) !important; */
--secondaryColor: #67A195;

/* var(--accentColor) !important; */
--accentColor: #E68A00;

/* var(--fontFamily) !important; */
--fontFamily: "Nunito", sans-serif;
}