<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">

        <!-- Contact Information -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Contact Information</h3>
          <ul class="list-unstyled">
            <li><a href="mailto:info@help4docs.com">info@help4docs.com</a></li>
            <li><a href="contact.html">Contact Form</a></li>
            <li><a href="https://www.linkedin.com">LinkedIn</a></li>
            <li><a href="#">Support Center</a></li>
          </ul>
        </div>

        <!-- Legal -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Legal</h3>
          <ul class="list-unstyled">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Refund Policy</a></li>
            <li><a href="#">Accessibility</a></li>
          </ul>
        </div>

        <!-- Programs / Sales -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Programs</h3>
          <ul class="list-unstyled">
            <li><a href="img-match-success.html">IMG Match Success</a></li>
            <li><a href="interview-coaching.html">Interview Coaching</a></li>
            <li><a href="pronunciation-training.html">Pronunciation Training</a></li>
            <li><a href="residency-readiness.html">Residency Readiness</a></li>
          </ul>
        </div>

        <!-- Resources -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Resources</h3>
          <ul class="list-unstyled">
            <li><a href="resources.html">Free IMG Guides</a></li>
            <li><a href="#">Webinar Library</a></li>
            <li><a href="#">Interview Prep Articles</a></li>
            <li><a href="#">English &amp; Communication Tips</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <!-- End Footer Row -->
</footer>
